/* The LESS stylesheet provides the ability to define styling styles that can be used to style the UI in the MDK app.

Examples:

@mdkYellow1: #ffbb33;
@mdkRed1: #ff0000;

//// By-Type style: All Pages in the application will now have a yellow background
Page
{ background-color: @mdkYellow1; }

//// By-Name style: All Buttons with _Name == "BlueButton" will now have this style
#BlueButton
{ color: @mdkYellow1; background-color: #0000FF; }

//// By-Class style: These style classes can be referenced from rules and set using ClientAPI setStyle function
.MyButton
{ color: @mdkYellow1; background-color: @mdkRed1; }
*/

@mdkYellow1: #ffbb33;
@mdkRed1: #ff0000;

#LogoutToolbarItem  {
    color: red;
}

.ObjectTableTitle {
  font-color: @mdkYellow1;
}
